body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-brand {
    background-color: #0F172A;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-brand:hover {
    background-color: #1E293B;
    color: #fff;
}